#div1 {
    height: 200px;
    width: 200px;
    background-color: red;
    font-size: 50px;
    color: yellow;
    font-weight: bolder;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 2.25;
    /* margin: auto; */
    position:sticky;
    top: 50px;
}

#div2 {
    height: 5000px;
    width: 5000px;
    background-color: rgba(25, 126, 200, 0.4);
/* position: relative;     */
    /* margin: auto; */
}

.sources a {
    text-decoration: none;
}

.sources a:hover {
    color: black;
}

#p1{
    /* display: block; */
    color: red;
    background-color: yellow;
    height: 100px;
    width: 100px;
    /* position: sticky; */
    /* margin-left: 400px; */
}
#p2 {
    /* display: block; */
    columns: blue;
    background-color: aqua;
}